body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(85,148,186,1);
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px; /* Adjust width as needed */
}

.form-container {
    margin-bottom: 20px;
}

.form-container input {
    width: calc(100% - 22px); /* Adjust for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
.form-container a {
    color: #007bff;
    text-decoration: none;
}